/* #region ----------------------------------- font overrides */
html,
body,
div,
span,
applet,
object,
iframe,
input,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
select,
small,
strike,
strong,
sub,
sup,
textarea,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td .comment-list .reply a,
.comment-form label,
.et-db #et-boc .et_pb_blog_0 .et_pb_post .entry-title a {
    font-family: "proxima-nova", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.editor-post-title__block .editor-post-title__input {
    font-family: "proxima-nova", sans-serif !important;
    font-weight: 600;
}

/* #wpadminbar .ab-icon,
#wpadminbar .ab-item::before,
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
	font-family: "dashicons" !important;
}
#wp-admin-bar-et-use-visual-builder > a::before,
[class*="et_pb_button"]{
	font-family: "ETmodules" !important;
} */
/* #endregion ----------------------------------- font overrides */
/* #region ----------------------------------- header */
a.uabHomeLink {
    display: block;
    font-size: 0 !important;
    height: 40px;
    position: absolute;
    top: 32px;
    width: 100%;
}

@media all and (max-width: 780px) {
    a.uabHomeLink {
        top: 46px;
    }
}

.site-description {
    margin: 0.2em 0 0;
    opacity: 0.9;
}

.site-title a,
h2.entry-title a {
    color: #222;
    font-weight: 600;
    letter-spacing: 0;
}

body.et_color_scheme_green:not(.et_non_fixed_nav) #main-header {
    background-color: #1e6b52;
}

@media only screen and (min-width:981px) {
    img#logo {
        max-height: 16px;
    }
}

#main-header::before,
.headerblock.standard::before {
    background-color: #1e6b52;
    background-image: url(//www.uab.edu/styles/5.0/images/white-with-R-core-horizontal-tm.png);
    background-position: 2.5% center;
    background-repeat: no-repeat;
    background-size: auto 16px;
    box-sizing: content-box;
    content: "";
    display: block;
    height: 36px;
    margin: 0 auto;
}

@media all and (min-width: 981px) {

    /* Customizer Hide Logo */
    .et_hide_primary_logo #main-header.et-fixed-header::before {
        height: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
}

/* 
#main-header::before{
	background-color: #fff;
    background-image: url(//www.uab.edu/styles/5.0/images/uab_linear.png);
}
*/
/* #endregion ----------------------------------- header */
/* #region ----------------------------------- nav */
.navigation-main a,
.main-small-navigation a {
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.wp-block-button__link {
    color: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #1e6b52;
    color: #fff !important;
    /* padding: 5px; */
    text-transform: uppercase;
    -webkit-appearance: button;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #555;
    outline: 0 none;
    transition: all 0.2s linear;
}

/* #endregion ----------------------------------- nav */
/* #region ----------------------------------- upper section */
.headerblock.standard .site-header,
.headerblock.alternative .site-header {
    border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 5em) {
    article.hentry {
        padding-top: 1.5%;
    }

    .post .entry-title {
        margin-top: 1rem;
    }

    .blog .single-themes-page,
    .single-post .single-themes-page,
    .archive .single-themes-page,
    .search .single-themes-page {
        margin-top: 1.5%;
    }
}

/* #endregion ----------------------------------- upper section */
/* #region ----------------------------------- article */
/* #region ----------------------------------- ul alignment fixes */


aside ul,
article .entry-content ul {
    margin: 0 0 1.6em 1.3333em;
}

/* #endregion ----------------------------------- ul alignment fixes */
/* #endregion ----------------------------------- article */
/* #region ----------------------------------- footer */
#global-footer-content-inner {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 1em 0;
}

#global-footer-content-inner .flexFooter {
    align-content: space-between;
    align-items: baseline;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    min-height: 120px;
}

#global-footer-content-inner .flexFooter .flexFooterColumn {
    flex: 0 0 auto;
    margin: 0 10px;
    width: auto;
}

#global-footer-content-inner .flexFooter .flexFooterColumn .flexFooterItem.flexFooterItemLogo {
    margin: 5px 0 10px;
}

#global-footer-content-inner .footerLeft .flexFooterItem {
    text-align: right;
}

#global-footer-content-inner .footerRight .flexFooterItem {
    text-align: left;
}

#global-footer-content-inner .flexFooterItem.flexFooterItemLogo {
    background-image: url(/styles/5.0/images/uab_monogram_white.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    padding: 0;
}

#global-footer-content-inner a:link,
#global-footer-content-inner a:hover,
#global-footer-content-inner a:visited,
#global-footer-content-inner a:active,
#global-footer-content-inner .flexFooterItem {
    color: #fff !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 2em;
}

@media all and (max-width: 500px) {
    #global-footer-content-inner .flexFooter .flexFooterColumn {
        width: 100%;
    }

    #global-footer-content-inner .footerLeft .flexFooterItem,
    #global-footer-content-inner .footerRight .flexFooterItem {
        text-align: center;
    }

    #global-footer-content-inner .flexFooter .flexFooterColumn .flexFooterItem.flexFooterItemLogo {
        background-position: center center;
        margin: 20px 0 5px;
    }

    #global-footer-content-inner .addthis_default_style .addthis_separator,
    #global-footer-content-inner .addthis_default_style [class^="at"] {
        float: none;
    }
}

#global-footer-content-inner .logo-cobrand-container {
    margin: 1em auto 2.5em;
}

#global-footer-content-inner .logo-cobrand-top {
    background-image: url(/styles/images/unit-logos/uab--core-logo--white.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

#global-footer-content-inner .logo-cobrand-schools {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.75em auto;
}

#global-footer-content-inner .cobrand-separator::after {
    color: #fff;
    content: "|";
    display: inline-block;
    font-size: 18px;
    line-height: 0;
    opacity: 0.6;
    padding: 0 1em;
}

#global-footer-content-inner #lockedFooter {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 1.5% 0 1%;
    text-align: center;
    width: 100%;
}

#global-footer-content-inner #lockedFooter ul {
    margin: 0 auto 0.8em;
    text-align: center;
}

#global-footer-content-inner #lockedFooter ul li {
    display: inline-block;
    list-style: none;
}

#global-footer-content-inner #lockedFooter ul li,
#global-footer-content-inner #lockedFooter ul li a,
#global-footer-content-inner #lockedFooter ul li.lockedFooterSeparator {
    color: #fff !important;
    font-size: 13px;
}

#global-footer-content-inner #lockedFooter ul li.lockedFooterSeparator {
    margin: 0 1em;
}

#global-footer-content-inner #lockedFooter .eeoDisclaimer {
    color: #ccc;
    font-size: 12px;
    line-height: normal !important;
    margin: 0 auto;
    max-width: 80em;
    padding: 0 2em;
    padding-bottom: 1em;
    width: auto;
}

.copyright {
    display: none;
}

/* #endregion ----------------------------------- footer */
/* #region ----------------------------------- green color scheme */
/* too light: #6ea101 */
/* new green: #56790c */
.et_color_scheme_green a {
    color: #1a6300;
    transition: all 0.3s ease-in;
}

.et_color_scheme_green .et_pb_section a {
    border-bottom: 2px solid #56790c;
    color: #56790c;
}

.et_color_scheme_green .et_pb_section a:hover {
    background: #6ea101 !important;
    border-bottom: 2px solid #1e6b52;
    color: #fff;
}

.et_color_scheme_green .et_pb_counter_amount,
.et_color_scheme_green .et_pb_featured_table .et_pb_pricing_heading,
.et_color_scheme_green #top-header {
    background: #6ea101 !important;
}

.et_color_scheme_green #et_search_icon:hover,
.et_color_scheme_green .mobile_menu_bar:before,
.et_color_scheme_green .footer-widget h4,
.et_color_scheme_green .et_pb_sum,
.et_color_scheme_green .et_pb_pricing li a,
.et_color_scheme_green .et_pb_pricing_table_button,
.et_color_scheme_green .comment-reply-link,
.et_color_scheme_green .form-submit .et_pb_button,
.et_color_scheme_green .et_pb_bg_layout_light .et_pb_newsletter_button,
.et_color_scheme_green .et_pb_contact_submit,
.et_color_scheme_green .et_password_protected_form .et_submit_button,
.et_color_scheme_green .et_pb_bg_layout_light .et_pb_more_button,
.et_color_scheme_green .et_pb_bg_layout_light .et_pb_promo_button,
.et_color_scheme_green .et_overlay:before,
.et_color_scheme_green .entry-summary p.price ins,
.et_color_scheme_green #top-menu li.current-menu-ancestor>a,
.et_color_scheme_green #top-menu li.current-menu-item>a,
.et_color_scheme_green .bottom-nav li.current-menu-item>a,
.et_color_scheme_green.et_pb_slide_menu_active .et_toggle_slide_menu::after {
    color: #6ea101;
}

.et_color_scheme_green .et-search-form,
.et_color_scheme_green .nav li ul,
.et_color_scheme_green .et_mobile_menu,
.et_color_scheme_green .footer-widget li:before,
.et_color_scheme_green .et_pb_pricing li:before {
    border-color: #6ea101 !important;
}

.et_color_scheme_green .et-cart-info,
.et_color_scheme_green .et-social-icon a:hover,
.et_color_scheme_green .et_pb_promo_button,
.et_color_scheme_green .et_pb_more_button,
.et_color_scheme_green .et_pb_slide_description .et_pb_slide_title a,
.et_color_scheme_green .et-pb-slider-arrows a,
.et_color_scheme_green .et_audio_content a,
.et_color_scheme_green .et_link_content a,
.et_color_scheme_green .et_pb_newsletter_button {
    color: #fff !important;
}

.et_color_scheme_green .et_pb_divider_0:before {
    border-top-color: #6ea101;
}

body.et_color_scheme_green #page-container [class^="et_pb_button"] {
    background-color: #fff;
    border-color: #6ea101;
    border-radius: 2px;
}

/* #endregion ----------------------------------- green color scheme */
/* #region ----------------------------------- a11y accessibility widget */
.a11y-toolbar-widget li {
    list-style: none;
    padding: 5px 0 0;
}

.a11y-toolbar-widget [class*="aticon-"] {
    margin-left: 8px;
}

/* #endregion ----------------------------------- a11y accessibility widget */
/* #region ----------------------------------- gutenberg block weirdness */
@media screen and (min-width: 600px) {
    .alignwide {
        margin-left: auto;
        margin-right: auto;
    }
}

/* #endregion ----------------------------------- gutenberg block weirdness */
/* #region ----------------------------------- blog search page */
.blogs_directory_table td>a {
    margin: 0 !important;
}

.blogs_dir_search_blog_description {
    color: #444 !important;
}

.blogs_directory_table td:first-of-type {
    display: none;
}

.blogs_directory_table tr th,
.blogs_directory_nav_table a {
    font-size: 18px !important;
}

.blogs_directory_search_table input {
    padding: 0.5em;
    font-size: 18px;
    float: left;
}

form+br {
    display: none;
}

/* #endregion ----------------------------------- blog search page */
/* #region ----------------------------------- icomoon font substitution for localist widgets */
.localist-stream__date-location-container .localist-stream__date:before,
.localist-stream__date-location-container .localist-stream__location:before {
    color: #777;
    content: "\f303";
    font-family: Genericons;
    font-size: 20px;
    font-weight: 800;
    margin: -2px;
    position: absolute;
    top: 0;
}

.localist-stream__date-location-container .localist-stream__location:before {
    content: "\f417";
}

/* #endregion ----------------------------------- icomoon font substitution for localist widgets */
#signup .wFormContainer .wForm .inputWrapper ::placeholder {
    color: #111 !important;
}