/*
Theme Name: Maisha Lite Child
Theme URI: https://sites.uab.edu/
Author: UAB Web
Author URI: https://sites.uab.edu/
Template: maisha-lite
Description: "Maisha Lite" is a lite & free version of beautiful premium charity WordPress theme "Maisha". Theme is inspired by "Virunga" documentary. It is modern, responsive and mobile friendly theme.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, blog, news, education, footer-widgets
Text Domain: maisha-lite-child

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/